/* AboutBlock.module.css */

.heroContainer {
  padding: 15px 0;
  position: relative;
}

.heroContent {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.courseTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 16px 0;
  color: var(--tg-theme-text-color);
  letter-spacing: -0.03em;
}

.courseDescription {
  font-size: 16px;
  line-height: 1.6;
  color: var(--tg-theme-hint-color);
  margin: 0;
  padding: 0 0px;
  font-weight: 400;
}

.quoteCard {
  padding: 0.7rem 1.5rem;
  background: var(--tg-theme-bg-color);
  border-radius: 0.8rem;
  position: relative;
  text-align: center;
}

.quoteMark {
  font-size: 3rem;
  color: var(--tg-theme-button-color);
  opacity: 0.3;
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
}

.quoteText {
  font-size: 1.3rem !important;
  font-weight: bold;
  line-height: 1.7;
  font-style: italic;
  margin: 1rem 0;
  color: var(--tg-theme-text-color);
}

.quoteAuthor {
  font-weight: 500;
  color: var(--tg-theme-hint-color);
  font-size: 0.95rem;
}

.videoContainer {
  border-radius: 0.8rem;
  overflow: hidden;
  margin: 1rem 0;
  aspect-ratio: 16/9;
  background: #000;
}

.videoPlayer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textSlide {
  padding: 0 0;
}

.subTitle {
  text-align: center;
  font-size: 1.5rem !important;
  font-weight: 600;
  margin: 1.2rem 0 0.8rem;
  color: var(--tg-theme-text-color);
}

.list {
  padding-left: 1.2rem;
  margin: 0 0;
}

.listItem {
  margin: 0.1rem 0;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  position: relative;
}

.listItem::before {
  content: "•";
  color: var(--tg-theme-button-color);
  position: absolute;
  left: -0.8rem;
  font-size: 1.2rem;
}

.paragraph {
  text-align: center;
  font-size: 0.95rem;
  line-height: 1.7;
  margin: 1rem 0;
  font-style: italic;
  color: var(--tg-theme-hint-color);
}

.paragraphLast {
  text-align: center;
  font-style: italic;
  font-size: 0.95rem;
  line-height: 1.7;
  margin: 1rem 0;
  color: var(--tg-theme-hint-color);
}

.attachmentTypes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.attachmentCard:first-child {
  margin-bottom: 4vh;
}

.attachmentCard {
  background: var(--tg-theme-bg-color);
  border-radius: 0.8rem;
  padding: 1rem;
  text-align: center;
}

.attachmentTitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--tg-theme-text-color);
}

.attachmentText {
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--tg-theme-hint-color);
}
